/*********************************************************************************\
$Grille
\*********************************************************************************/
$columns: 12;
$gutter: 30px;
$medium: 640px;
$large: 1024px;

/*********************************************************************************\
$General
\*********************************************************************************/
$font: "Arial";
$font-color: #6C7A89;
$header-color: #2980b9;
$site-background: #FFF;
$large-header-height: 100px;

/*********************************************************************************\
$Boutons
\*********************************************************************************/
$button-height: 4vh;
$button-font: 1vw;
$button-bg: #3498db;
$button-color: white;
$button-h-bg: #2980b9;
$button-h-color: #2980b9;
$button-border-color: white;

/*********************************************************************************\
$Elements de layout
\*********************************************************************************/
$banner-arrow-color: #3498db;
$banner-arrow-height: 100px;

$banner-simple-color: #3498db;
$banner-simple-height: 100px;

$selection-bg-color: #3498db;
$selection-color: white;

/*********************************************************************************\
$Hamburgers
\*********************************************************************************/

$draw-time: 1s;

/*********************************************************************************\
$Menus
\*********************************************************************************/
$menu-classic-bg-color: #3498db;
$menu-classic-h-bg-color: #2980b9;
$menu-classic-sub-bg-color: #16a085;
$menu-classic-sub-h-bg-color: #3498db;
$menu-classic-color: #ecf0f1;

/*********************************************************************************\
$Panneaux latéral
\*********************************************************************************/

$panel-bg-color: #ecf0f1;
$panel-header-bg-color: #95a5a6;
$panel-header-height: 100px;

/*********************************************************************************\
$Sliders
\*********************************************************************************/

