@import "../variables";

/*******************************************************************\
  Style du Bouton
\*******************************************************************/

/*****************************************************************\
|*********************Style général du bouton*********************|
\*****************************************************************/
a.btn {
  cursor: pointer;
  padding: 0 2.5%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $button-font;
  min-height: $button-height;
  display: inline-block;
  line-height: $button-height;
  background: $button-bg;
  white-space: normal;
  margin: auto;

  border: solid $button-bg 2px;
}

a.btn.round
{
  border-radius: $button-height/2;
}

a.btn.rounded
{
  border-radius: $button-height/6;
}

a.btn:visited, a.btn:link {
  color: $button-color;
  text-decoration: none;
}

/*****************************************************************\
|**************************Bouton Style 1*************************|
\*****************************************************************/

a.btn.style1
{
  border: outset $button-bg 2px;
}

a.btn.style1:hover
{
  border: solid $button-bg 2px;
  transform: translateX(2px) translateY(2px);
}

/*****************************************************************\
|**************************Bouton Style 2*************************|
\*****************************************************************/

a.btn.style2
{
  transition: all .5s ease;
}

a.btn.style2:hover
{
  background: $button-h-bg;
  border-color: $button-h-bg;
}

/*****************************************************************\
|**************************Bouton Style 3*************************|
\*****************************************************************/

a.btn.style3
{
  transition: all .5s ease;
  border-color: $button-bg;
}

a.btn.style3:hover
{
  background: white;
  border-color: $button-bg;
  color: $button-bg;
}

/*****************************************************************\
|**************************Bouton Style 4*************************|
\*****************************************************************/

a.btn.style4
{
  transition: all .5s ease;
}

a.btn.style4:hover
{
  color: $button-h-color;
}

/*****************************************************************\
|**************************Bouton Style 5*************************|
\*****************************************************************/

a.btn.style5
{
  transition: all .5s ease;
  border-color: $button-border-color;
}

a.btn.style5:hover
{
  color: $button-h-color;
}

/*****************************************************************\
|*****************************Contenu*****************************|
\*****************************************************************/
.button_content {
  opacity: 0;
  height: 0;
}
.active + .button_content {
  opacity: 1;
  height: auto;
}